<div class="page-container">

  <div class="branding-header">
    <div class="logo-box">
      <img src="/logo.svg" alt="Retroid Logo">
      <span class="logo-text">Retroid</span>
    </div>
    <span class="version-text">Retroid 2026</span>
  </div>

  <div class="master-card shadow-sm">
    <div class="row g-0 h-100">

      <div class="col-md-6 bg-white d-flex align-items-center justify-content-center p-5">
        <div class="form-wrapper text-center">
          <h1 class="pixel-title">Welcome to the retroid community</h1>
          <p class="sub-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

          <div class="avatar-grid-large mb-4">
            <div *ngFor="let id of avatars"
                 (click)="selectAvatar(id)"
                 [class.selected]="registerData.avatar_id === id"
                 class="avatar-item">
              <img [src]="'/avatars/' + id + '.jpeg'" alt="Avatar Option">
            </div>
          </div>

          <div class="inputs-container">
  <div class="input-wrapper">
    <input type="text" [(ngModel)]="registerData.username" placeholder="Choose pseudo"
           [class.input-error]="errors.username" class="retro-pill-input">
    <p class="error-msg" *ngIf="errors.username">{{ errors.username }}</p>
  </div>

  <div class="input-wrapper">
    <input type="password" [(ngModel)]="registerData.password" placeholder="Password"
           [class.input-error]="errors.password" class="retro-pill-input">
    <p class="error-msg" *ngIf="errors.password">{{ errors.password }}</p>
  </div>

  <div class="input-wrapper">
    <input type="password" [(ngModel)]="registerData.confirmPassword" placeholder="Confirm Password"
           [class.input-error]="errors.confirmPassword" class="retro-pill-input">
    <p class="error-msg" *ngIf="errors.confirmPassword">{{ errors.confirmPassword }}</p>
  </div>
</div>

          <button (click)="onRegister()" class="btn-pixel-enter">Enter</button>

          <p class="login-prompt mt-4">
            Already have your ticket? <a routerLink="/login">Sign In here</a>
          </p>
        </div>
      </div>

      <div class="col-md-6 bg-black d-flex align-items-center justify-content-center">
        <img src="/retro-poster.jpg" alt="Born to Game" class="illustration-img">
      </div>

    </div>
  </div>
</div>
