<div class="page-container">

  <div class="branding-header">
    <div class="logo-box">
      <img src="/logo.svg" alt="Retroid Logo">
      <span class="logo-text">Retroid</span>
    </div>
    <span class="version-text">Retroid 2026</span>
  </div>

  <div class="master-card shadow-sm">
    <div class="row g-0 h-100">

      <div class="col-md-6 bg-black d-flex align-items-center justify-content-center">
        <img src="/arcade-bg.jpg" alt="Retro Arcade" class="illustration-img">
      </div>

      <div class="col-md-6 bg-white d-flex align-items-center justify-content-center p-5">
        <div class="form-wrapper text-center">
          <h1 class="pixel-title">Welcome back</h1>
          <p class="sub-lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

          <div class="inputs-container">
            <input type="text" [(ngModel)]="loginData.username" placeholder="user name" class="retro-pill-input">
            <input type="password" [(ngModel)]="loginData.password" placeholder="Password" class="retro-pill-input">
          </div>

          <button (click)="onLogin()" class="btn-pixel-start">Start</button>

          <p class="register-prompt mt-4">
            Don't have an account yet? <a routerLink="/register">Register here</a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
